// レスポンシブ(spブレイクポイント)
$sp: 767px;

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}

main,
header {
    max-width: 1152px;
    margin: 0 auto;
}

// #main {
//     margin: 0 auto;
// }

article {

    h1,
    p,
    a {
        font-weight: 600;
    }

    .blogtitle {
        font-size: 30px;
        text-align: center;
        margin: 65px auto;
        @include sp{
        margin-bottom: 0;
        }
    }

    .blogmsg {
        font-size: 15px;
        margin-top: 15px;
    }

    .blogcontent:hover {
        box-shadow: 1px 1px 12px rgba(0, 0, 0, .2);
    }

    .blogcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1024px;
        margin: 0 auto;

        @include sp {
            display: block;
            width: 320px;
            margin: 0 auto;
        }

        .blogcontent {
            width: 30%;
            margin-bottom: 40px;

            @include sp {
                width: 100%;
                margin-bottom: 40px;
            }

            img {
                @include sp {
                    width: 100%;
                }
            }
        }

        .blogtxt {
            height: 200px;
            margin: 0 10px;
            display: flex;
            flex-direction: column;
        }


        .bloglink {
            font-size: 13px;
            margin-top: auto;
            margin-bottom: 40px;
            text-align: right;
            @include sp{
            margin-bottom: 0;
            }


            a::after {
                content: "";
                display: block;
                width: 20px;
                height: 2px;
                background-color: black;
                margin-left: auto;
            }

            a:hover:after {
                width: 85px;
                height: 2px;
                content: "";
                display: block;
                background-color: black;
                margin-left: auto;
                transition: 0.5s;
            }
        }
    }
}

// articleここまで


footer {
    height: 100px;
    width: 100%;
    margin-top: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sp{
    height: 80px;
    margin-top: 40px;
    }


    .footertext {
        color: white;
        font-size: 15px;
        @include sp{
        font-size: 10px;
        }
    }
}