body {
    max-width: 1152px;
    margin: auto;
}

#main {
    margin: 0 50px;
}

article {

    h1,
    p,
    a {
        font-weight: 600;
    }

    .blogtitle {
        font-size: 30px;
        text-align: center;
        margin: 30px auto;
    }

    .blogcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1024px ;
.blogcontent{
width: 30%;
}
        .bloglink a {
            display: flex;
            justify-content: flex-end;
            margin: 50px auto;
        }
    }
.blogcontent img:hover{
box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 1.0) ;
}
}