// 知花
.kvpctop {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    .topright{
        display: flex;
        justify-content: space-around;
    }
}

.kvpccenter {
    position: relative;
    width: 1024px;
    // margin: 0 auto;
    .center02 {
        position: absolute;
        right: -110px;
        bottom: -40px;
    }
}