// 知花
.kvpctop {
    position: relative;
    // top: 125px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    margin-top: 50px;
    .logo {
        width: 21%;
        position: absolute;
    }

    .topright{
        display: flex;
        margin: 0 0 0 auto;
        padding-bottom: 50px;
        // justify-content: space-around;
        .limenu {
            padding-top: 10%;
            padding-left: 30px;
        }
    }
}

.kvpcdown {
    font-size: 24px;
    padding-top: 10px;
}

.kvpccenter {
    // margin: 0 auto;
    position: relative;
    // width: 88.9%;
    .center01 {
        margin: 0 auto;
        display: block;
    }
    .center02 {
        position: absolute;
        // width: 48.3%;
        right: 5px;
        // bottom: -49px;
        top: 235px;
    }
}



.kvspmain {
    display: none;
}



// レスポンシブ対応
@media (max-width:767px){
    header{
    display: none;
    }
    .kvpcmain{
        display: none;
    }
    .kvspmain {
        display: block;
        text-align: center;
        .splogo {
            margin-top: 50px;
            margin-bottom: 30px;
            width: 31.6%;
        }
    
        .kvspimg {
            position: relative;
            .kvspimg01 {
                width: 100%;
                margin-bottom: 20px;
            }
            .kvspimg02 {
                position: absolute;
                width: 64.5%;
                left: 20px;
                top: 15px;
            }
        }
   
    }
}
