.kvpctop {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin-top: 50px;
}
.kvpctop .logo {
  width: 21%;
  position: absolute;
}
.kvpctop .topright {
  display: flex;
  margin: 0 0 0 auto;
  padding-bottom: 50px;
}
.kvpctop .topright .limenu {
  padding-top: 10%;
  padding-left: 30px;
}

.kvpcdown {
  font-size: 24px;
  padding-top: 10px;
}

.kvpccenter {
  position: relative;
}
.kvpccenter .center01 {
  margin: 0 auto;
  display: block;
}
.kvpccenter .center02 {
  position: absolute;
  right: 5px;
  top: 235px;
}

.kvspmain {
  display: none;
}

@media (max-width: 767px) {
  header {
    display: none;
  }
  .kvpcmain {
    display: none;
  }
  .kvspmain {
    display: block;
    text-align: center;
  }
  .kvspmain .splogo {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 31.6%;
  }
  .kvspmain .kvspimg {
    position: relative;
  }
  .kvspmain .kvspimg .kvspimg01 {
    width: 100%;
    margin-bottom: 20px;
  }
  .kvspmain .kvspimg .kvspimg02 {
    position: absolute;
    width: 64.5%;
    left: 20px;
    top: 15px;
  }
}
main,
header {
  width: 100%;
  margin: 0 auto;
}

article h1,
article p,
article a {
  font-weight: 600;
}
article .blogtitle {
  font-size: 30px;
  text-align: center;
  margin: 65px auto;
}
@media screen and (max-width: 767px) {
  article .blogtitle {
    margin-bottom: 0;
  }
}
article .blogmsg {
  font-size: 15px;
  margin-top: 15px;
}
article .blogcontent:hover {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}
article .blogcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1024px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  article .blogcontainer {
    display: block;
    width: 320px;
    margin: 0 auto;
  }
}
article .blogcontainer .blogcontent {
  width: 30%;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  article .blogcontainer .blogcontent {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  article .blogcontainer .blogcontent img {
    width: 100%;
  }
}
article .blogcontainer .blogtxt {
  height: 200px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}
article .blogcontainer .bloglink {
  font-size: 13px;
  margin-top: auto;
  margin-bottom: 40px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  article .blogcontainer .bloglink {
    margin-bottom: 0;
  }
}
article .blogcontainer .bloglink p::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: black;
  margin-left: auto;
}
article .blogcontainer .bloglink p:hover:after {
  width: 85px;
  height: 2px;
  content: "";
  display: block;
  background-color: black;
  margin-left: auto;
  transition: 0.5s;
}

footer {
  height: 100px;
  width: 100%;
  margin-top: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  footer {
    height: 80px;
    margin-top: 40px;
  }
}
footer .footertext {
  color: white;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  footer .footertext {
    font-size: 10px;
  }
}/*# sourceMappingURL=main.css.map */